* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
    background: rgb(243,29,93);
    background: linear-gradient(0deg, rgba(243,29,93,1) 0%, rgba(224,28,68,1) 35%, rgba(185,26,108,1) 100%);
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
  }

  header {
    width: 95%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase
  }

  header ul li{
    list-style: none;
    display: flex;
    margin: 0 20px;
    position: relative;
  }
  
  header ul li a{
    text-decoration: none;
    color: white;
  }
  
  header ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
    transform: scale(1.05);
  }
  
  header ul li:hover:after{
    width: 100%;
  }
  
  header ul li:hover {
    transform: scale(1.05);
    transition: ease all 0.3s;
    cursor: pointer;
  }
  

.voltar {
  border: none;
  /* padding: 10px; */
  background: none;
  color: white;
  text-transform: uppercase
}

/* .voltar:hover {
  color: red;
}

.voltar:active {
  color: rgba(255, 0, 0, 0.459);
} */

.cliente {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

#perfil {
    text-align: center;
    color: #eee;
    margin: 15px;
}

.dados {
  text-align: left;
  font-size: large;
  /* font-weight: bold; */

  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.01);
  background:rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
  width: 400px;
  color: white;
  max-width: 100%;
  overflow: hidden;
  margin: 0px auto;
  padding: 20px;
  height: fit-content;
  border: 1px solid white
}

.dados p {
  font-weight: bold
}

span {
  font-weight: 400;
}



/* botão de editar */
.editar {
  border: none;
  padding: 10px 20px;
  /* outline-color: black; */
  color: #f31d5d;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  margin: 30px 10px;
}

.editar:hover {
  background-color: #eee;
  transition: ease all 0.3s;
}

.editar:active {
  color: #f31d5d;
  background-color: #eee;
}

/* Botão de deletar */
#deletar {
  border: none;
  padding: 10px 20px;
  outline-color: black;
  background-color: #f31d5d;
}

#deletar:hover {
  color: white;
  background-color: #f74178;
  transition: ease all 0.5s;
}

#deletar:active {
  color: white;
  background-color: #f74178;
}

/* Modal */
#modalDeletar {
  width: 300px;
  height: 100px;
  background-color: #eaeaea;
  text-align: center;
  margin: 0 auto;
  margin-top: 300px; /* esse faz com que o modal fique no "meio" da tela*/
  border-radius: 15px;
  padding: 20px 20px;
  background-color: #eee;
  color: #f31d5d;
  border: none;
  position: absolute;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#modalDeletar::backdrop {
  background:rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  transition: ease all 1s;
}

#modalEditar::backdrop {
  background:rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  transition: ease all 1s;
}

/* Div dos botões */
.buttonDiv {
  text-align: center;
}

.modalTitulo {
  margin-top: -20px;
  font-size: 1.25em;
  font-size: 20px;
}

#perguntamodal {
  
    text-align: center;
    margin: 10px;
}

/* x de fechar do modal */

#cancelar {
  position: relative;
  left: 290px;
  width: fit-content;
  top: -7px;
  cursor: pointer;
}

#EditCancelar {
  position: relative;
  left: 290px;
  width: fit-content;
  top: -7px;
  cursor: pointer;
}

#modalEditar {
  width: 300px;
  height: 315px;
  background-color: #eaeaea;
  /* padding: 5px; */
  text-align: center;
  margin: 0 auto;
  margin-top: 200px; /* esse faz com que o modal fique no "meio" da tela*/
  border-radius: 15px;
  padding: 20px 20px;
  color: black;
  border: none;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#modalEditar input {
  border: 2px solid #e2e2e2;
  display: inline-block;
  border-radius: 10px;
  font-size: 14px;
  width: 90%;
  padding: 10px;
  outline: none;
  margin: 5px;
}

 .inputeditsenha i {
  position: absolute;
  top: 244px;
  right: 33px;
  color: #3b3b3b;
}

#modalEditar h3 {
  margin-bottom: 25px;
}

#modalEditar label {
  display: flex;
  margin-bottom: 2px;
  margin-left: 10px;
}


#salvar {
  margin-top: 15px;
}

button {
  padding: 10px 15px;
  background-color: #f31d5d;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  margin: 5px;
}

button:hover {
  /* background-color: #ffffff; */
  /* color: #f31d5d; */
  cursor: pointer;
  transform: scale(1.08);
  transition: ease all 0.5s;
}

button:not(:hover) {
    transition: ease all 0.5s;
}

#perguntamodal{
  margin-bottom: 20px;
}

#confirmar {
  padding: 10px 15px;
  background-color: #f31d5d;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

#confirmar:hover {
  cursor: pointer;
  transform: scale(1.08);
  text-decoration: none;
  font-size: 17px;
  padding: 12px 17px;
  transition: ease all 0.3s;
}

#confirmar:not(:hover) {
  transition: ease all 0.5s;
}