.Sobre{
    font-family: 'Montserrat', sans-serif;
    background:rgb(243, 29, 93);
    background: linear-gradient(0deg, rgba(243, 29, 93, 1) 0%, rgba(224, 28, 68, 1) 35%, rgba(185, 26, 108, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}

header {
    padding: 20px 0;
}

nav {
    width: 85%;
    margin: 0 auto;
    padding:  0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: black;
    text-decoration: underline;
}

.inicio {
    padding: 3em;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.titulo-inicio {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
}

.texto-inicio {
    font-size: 1.3em;
}

.botoes {
    text-align: center;
}

.solicitar {
    background: linear-gradient(0deg, rgba(243, 29, 93, 1) 0%, rgba(224, 28, 68, 1) 35%, rgba(185, 26, 108, 1) 100%);
    border: 2px solid #f31d5d;
    color: #fff;
    width: 40%;
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.solicitar:hover {
    background: #fff;
    color: #f31d5d;
    transition: all .5s ease-out;
}

.ja-tenho {
    background: linear-gradient(0deg, rgba(243, 29, 93, 1) 0%, rgba(224, 28, 68, 1) 35%, rgba(185, 26, 108, 1) 100%);
    border: 2px solid #f31d5d;
    color: #fff;
    width: 40%;
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.ja-tenho:hover {
    background: #fff;
    color: #f31d5d;
    transition: all .5s ease-out;
}

.imagem {
    text-align: center;
}
