<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SB - Conta</title>
  <link rel="stylesheet" href="/themes/account.css">
</head>

<body>
  <!-- Adicionei o atributo onclick para que seu botão funcione, mas não seria o ideal neste caso -->
  <!-- Sugestão - trocar para o elemento <a href="homePage.html"> -->
    <header>
      <ul>
        <li class="voltar" onclick="window.location.href='/dashboard'">
          Voltar
        </li>
      </ul>
    </header>

    <h1 class="cliente">Hej,</h1>
    <h2 class="cliente" th:text="${client.name}">Nome do cliente</h2>
    <p id="perfil">Seu Perfil</p>
    <div class="dados">
      <p>CPF: <span th:text="${client.cpf}">-</span></p>
      <p>Nome da mãe: <span th:text="${client.motherName}">-</span></p>
      <p>Data de nascimento: <span th:text="${client.dateBirth}">-</span></p>
      <p>Gênero: <span th:text="${client.gender}">-</span></p>
      <p>Endereço: <span th:text="${client.address}">-</span></p>
      <p>E-mail: <span th:text="${client.email}">-</span></p>
      <p>Senha: <span>&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;</span></p>
    </div>

    <div class="buttonDiv">
      <button class="editar" id="editar">Editar</button>
      <button onclick="exibirAviso()" id="deletar">Deletar conta</button>
    </div>

    <!--Modal Deletar-->

    <dialog id="modalDeletar">
      <section class="modal">
        <p id="cancelar"><i class="fa fa-times" aria-hidden="true"></i></p>
        <h2 class="modalTitulo">Aviso Importante!</h2>
        <p id="perguntamodal">Você quer mesmo deletar sua conta?</p>
        <a id="confirmar" th:href="@{/delete/{id}(id=${client.id})}">Sim, deletar conta</a>
      </section>
    </dialog>

  
<!--Modal Editar-->

  <dialog id="modalEditar">
    <section class="modal">
      <p id="EditCancelar"><i class="fa fa-times" aria-hidden="true"></i></p>
      <div id="header-modal">
        <h3 class="modalTitulo">Editar informações</h3>
      </div>
      
      <div>
        <label for="address">Endereço:</label>
        <input type="text" name="address" id="address">
      </div>
      
      <div>
        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email">
      </div>

      
      <div>
        <label for="password">Senha:</label>
        <input type="password" name="password" id="senha">
      </div>

      <button id="salvar">
        Salvar
      </button>
    </section>
  </dialog>

  


</body>

<script src="/scripts/account.js"></script>

<script
    src="https://kit.fontawesome.com/f9e19193d6.js"
    crossorigin="anonymous"></script>

</html>