<!DOCTYPE html>
<html lang="pt-br"  class="Sobre">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Cartões</title>

        <link rel="stylesheet" href="/themes/cartao.css">
    </head>

    <body>
        <header>
            <div class="cabeça">
            
            <nav>
                <ul>
                    <li><a href="/dashboard">Voltar</a></li>
                </ul>
            </nav>
            </div>
        </header>

        <main>
            <section class="inicio">
                <h2 class="titulo-inicio">Cartões</h2>

                <p class="texto-inicio">Halla, você não tem um cartão nosso? Não perca tempo e venha já fazer o seu! Somente apertar no "Solicitar cartão".
                    Caso já tenha um de nossos Cartões aperte o botão "já tenho cartão".
                </p>

                <div class="imagem">
                    <img src="/icons/imagem1.png" >
                </div>

            </section>

            <div class="botoes">
                <div><a href="dados.html">
                        <input type="submit" value="Solicitar cartão" class="solicitar"><br>
                    </a>
                </div>
                <div><a href="jaTenho.html">
                        <input type="submit" value="Já tenho cartão" class="ja-tenho">
                    </a>
                </div>
            </div>
            
        </main>
    </body>
</html>
