<!DOCTYPE html>
<html lang="pt-br" class="Sobre" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Cartões</title>

        <link rel="stylesheet" href="/themes/cartao.css">
        <link rel="shortcut icon" href="/icons/Icon_Switzerland.png" type="image/x-icon">
    </head>

    <body>
        <header>
            <div class="cabeça">
            
            <nav>
                <ul>
                    <li><a onclick="window.location.href='/dashboard'">Voltar</a></li>
                </ul>
            </nav>
            </div>
        </header>

        <main>
            <section class="inicio">
                <h2 class="titulo-inicio">Cartões</h2>

                <p class="texto-inicio">Halla, você não tem um cartão nosso? Não perca tempo e venha já fazer o seu! Somente apertar no "Solicitar cartão".
                    Caso já tenha um de nossos Cartões aperte o botão "já tenho cartão".
                </p>

                <div class="imagem">
                    <img src="/icons/imagem1.png" >
                </div>

            </section>

            <div class="botoes">
                <div>
                    <button onclick="window.location.href='/gerarCartao'" name="cartao"  type="submit" value="Solicitar cartão" id="solicitar"> Solicitar cartão</button> <br>
                </div>
                <div>
                    <button onclick="window.location.href='/cartaoDados'" type="submit" value="Já tenho cartão" class="ja-tenho"> já tenho </button>
                </div>
            </div>
            
        </main>
    </body>
    <script src="/scripts/cartoes.js"></script>
</html>
