<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Switzerland Bank</title>
  <link rel="shortcut icon" href="icons/Icon_Switzerland.png" type="image/x-icon">
  <link rel="stylesheet" href="/themes/home.css">
</head>

<body>

  <div class="banner">
    <header>
      <img id="logo" src="icons/Icon_Switzerland.png" alt="Logotipo do Switzerland Bank">
      <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Registrar</a></li>
      </ul>
    </header>
  
    <main>
      <h1>Bem-vindo ao Switzerland Bank!</h1>
      <h2>Mais prático que um canivete!</h2>

      <p>Cadastre-se agora e receba R$ 10,00 de bônus para começar sua conta!</p>
      <p>* Válido somente para novos clientes.</p>
    </main>
  </div>

</body>

</html>