<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SB - Login</title>
    <link rel="stylesheet" href="/themes/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <img id="logo" src="icons/Icon_Switzerland.png">
        <ul>
            <li><a href="/">Página inicial</a></li>
            <li><a href="/register">Registrar</a></li>
        </ul>
    </header>

    <div class="container">
        <form class="formulario-login" th:action="@{/client/login}" th:object="${client}" method="post">
            <div class="login" id="nome-login">
                <br>
                <h1>Switzerland Bank</h1>
                <p>Login</p>
                <div id='msgError'></div>
            </div>
            <!-- input do email -->
            <div class="login">
                <label for="email" id="labelEmail">E-mail: </label>
                <input type="text" name="email" id="email" placeholder="Digite seu email">
                <br>
            </div>
            <!-- input da senha -->
            <div class="login">
                <label for="password" id="labelSenha">Senha: </label>
                <i id="ver-senha-login" class="fa fa-eye" aria-hidden="true"></i>
                <!-- <i id="ocultar-senha-login" class="fa fa-eye-slash" aria-hidden="true"></i> -->
                <input type="password" name="password" id="senha" class="password" placeholder="Digite sua senha...">
                <br>
            </div>
            <!-- button de submit -->
            <div class="login">
                <button type="submit" id="botao-login" name="botao-login">Login</button>
                <br>
                <br>
                <a id="esqueci-senha" href="">Esqueci a senha</a>
            </div>
            <!--  -->
            <div class="login">
                Não possuí uma conta? 
                <a id="link-registrar" href="/register">Abra uma agora</a>
                <br>
            </div>
        </form>
    </div>
    <!-- <script src="/assets/scripts/login.js"></script> -->
</body>

<script src="scripts/login.js"></script>

</html>