<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pix | Switzerland Bank</title>
    <link rel="shortcut icon" href="/icons/Icon_Switzerland.png" type="image/x-icon">
    <link rel="stylesheet" href="/themes/pix.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="container">
        <div class="navbar">
            <img src="/icons/Icon_Switzerland.png" class="logo">
            <ul>
                <li>
                    <a href="/dashboard" id="exit-link">Voltar</a>
                </li>
            </ul>
        </div>

        <div class="content">
            <div id="dadosTransacao">
                <h1>Área do <span>PIX</span></h1>
            <p>Saldo em conta: <strong>R$ <span class="balance" th:text="${client.balance}">-</span></strong></p>
            <p>Sua chave PIX: <strong><span th:text="${client.chave}">-</span></strong></p>
            </div>
            



            <div class="coin-list">
                <!-- <div class="coin">
                    <div>
                        <button href="#" class="btn" id="btn-chave">Chave PIX</button>
                    </div>
                </div> -->

                <div class="coin" id="coin-transferir">
                    <div id="buttonPix">
                        <button><img src="icons/pix.svg">
                        <div id="nomePix">
                            Pix
                        </div>    
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal de Tranferir -->
    <dialog id="modal-transferir" class="modals">
        <p id="EditCancelar"><i class="fa fa-times" aria-hidden="true"></i></p>
        <div id="textModalTransacao">
            <h2 class="modal-titulo">Transferir</h2>
            <p class="modal-subtitulo">Insira as informações necessárias para realizar a transferência</p>
        </div>
        
        <fieldset>
            <form th:action="@{/transfer}" method="post">
                <div id="keyInstruction">
                    <span class="material-icons">key</span>
                <label id="labelModal" for="chave">
                    Insira a chave PIX do destinatário
                </label>
                </div>
                
                <input type="text" name="chave" placeholder="Chave" id="chave"/>
                
                <div id="keyInstruction2">
                    <span class="material-icons">payments</span>
                <label id="labelModal" for="valor">Insira o valor desejado para transferência </label>
                </div>
                
                <input type="text" name="valor" placeholder="R$ 0.00" id="valor" oninput="validarValor(this)"/>
    
                <button id="realizar-transferencia">Realizar transferência</button>
            </form>
        </fieldset>
        
    </dialog>

    <!-- Modal de Chave Pix -->
    <!-- <dialog id="modal-chaves" class="modals">
        <div id="opcoes-Chaves">
            <h2 class="modal-titulo">Chave Pix</h2>
            <p class="modal-subtitulo">Escolha uma função</p>

            <div id="chave_Escolhida">
                <div id="modal-conteudos">
                    <div id="conteudo-criar-chave" style="display:none;">
                        <form action="" method="post">
                            <input class="campo" type="text" name="chave" placeholder="Criar">
                            <button type="submit" class="botao_confirmar">Confirmar</button>
                        </form>
                    </div>

                    <div id="conteudo-editar-chave" style="display:none;">
                        <input class="campo" type="text" name="chave" placeholder="Editar">
                        <button class="botao_confirmar">Confirmar</button>
                    </div>

                    <div id="conteudo-deletar-chave" style="display:none;">
                        <input class="campo" type="text" placeholder="Deletar">
                        <button class="botao_confirmar">Confirmar</button>
                    </div>
                </div>
            </div>

            <button type="button" id="btn_criar">Criar</button>
            <button type="button" id="btn_editar">Editar</button>
            <button type="button" id="btn_deletar">Deletar</button>
            <p id="fechar-chaves" class="fechar-modal">(X)</p>
        </div>
    </dialog> -->

    <script src="/scripts/pix.js"></script>
</body>

</html>